body {
    background-color: #F5F3C1;
    margin: 0px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p, .p, a, .a {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}

p, .p {
    font-size: calc(0.5rem + 0.8vw);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
  
h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
    margin: 0rem;
}
@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
}

h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
    h2, .h2 {
        font-size: 2rem;
    }
}

h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 1.75rem;
    }
}

h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
    h4, .h4 {
        font-size: 1.5rem;
    }
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.file-manager {
    background-color: #2baf99;
    box-shadow: 5px 5px 5px #175c51;
    border-radius: 10px;
    width: 50rem;
}
@media (max-width: 840px) {
    .file-manager {
        width: 95%;
    }
}

.file-manager-title {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.file-manager-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.file-display {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2F0F5D;
    border: 2px solid #27E1C1;
}

.options {
    margin-top: 15px;
    padding-top: 20px;
    border-top: 2px solid #23917e;
}

.btn {
    font-size: calc(0.5rem + 0.8vw);
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 5px;
    border-color: #959254;
    border: solid #959254;
    background-color:#F5F3C1;
    cursor: pointer;
    color: #959254;
    font-weight: bold;
}

.btn:active {
    border-color: #6e6e3f;
    border: solid #6e6e3f;
    background-color:#cac996;
    
    transition: all 0.2s;
}

.input-text {
    font-size: calc(0.5rem + 0.8vw);
    width: 100%;
}

textarea {
    font-size: calc(0.5rem + 0.8vw);
    width: 100%;
    height: 15rem;
    margin-bottom: 20px;
}

select {
    font-size: calc(0.5rem + 0.8vw);
    width: 16rem;
}

video {
    margin-top: 20px;
}